.titre{border:1px solid #000;margin:0;padding:10px;font-size:18px;font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif;background-color:#000;color:#fff}
.titre h1{font-size:35px;display:inline-block;margin:5px 10px 0 0;padding-bottom:10px;font-family:Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif}
.titre i{display:inline-block;margin:0 0 0 10px;color:red}
.text{padding:5px; margin:5px;}
.pub{display:inline-block;margin:30px 0 0 10px;border:1px solid #fff;padding:10px;border-radius:.2em}
.titre a{text-decoration:none;color:#fff}
/*....fin première partie (Titres)......*/
.op-menu1:hover{color:#4909df}
.op-menu2:hover{color:#4909df}
.op-menu3:hover{color:#4909df}
.menu_full{border-radius:10emm;margin:0 0 5px 0;position:relative;height:60px}
.menu{display:inline-block;position:static; margin-left:0%}
.menu ul{color:gray;list-style:none;display:inline-block;padding:0}
.menu li{float:left;padding:0px 20px 0px 20px;position:relative;margin-bottom:5px}
.menu .op-menu1{ margin-left: 10px; padding-left: 0px;}
label{ margin-right:10px;}
/*Fin deuxième partie ou grande division menu et search bar*/
#img_container{padding:0px;border:1px solid #d3d3d3;overflow:hidden;display:inline-block;position:relative;margin:auto;border-radius:.5em}
img.img{width:100%; height: 100%;}
#img_container:hover{border:2px solid red}
#img_container span{color:#fff;font-size:10px;margin:5px;padding:2px;background-color:#000;border-radius:.2em;align-items:center}
.opt1{position:absolute;top:3%;right:0}
.opt2{position:absolute;top:15%;right:0}
.opt3{position:absolute;bottom:0;right:0}
.thumbs{margin:80px 10px 10px 10px ;border:0px solid #d3d3d3;border-radius:.5em}